<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agro Hawk Administrador</title>
    <link rel="stylesheet" href="./login_form_2.css" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
        </div>
        <form class="registro">
            <button class="login" onclick="window.location.href='/registrar_cliente'">Registrar cliente</button>
            <hr>
            <button class="create-account" onclick="window.location.href='/crear_servicio'" >Registrar servicio</button>
            <button class="login" onclick="window.location.href='/buscar_cliente'" >Buscar cliente</button>
            <hr>
            <button class="create-account" onclick="window.location.href='/buscar_servicio'" >Buscar servicio</button>
          </form>
      </div>
    </div>
  </body>
</html>