<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Menú principal del administrador">
    <title>Agro Hawk - Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
          <p>Página principal</p>
        </div>
        <form class="administrador" method="post" action="/administrador"> 
            <button class="default" type="submit" name="opcion" value="registrar_cliente" tabindex="1" >Registrar cliente</button>
            <hr>
            <button class="default" type="submit" name="opcion" value="crear_servicio" tabindex="2" >Registrar servicio</button>
            <hr>
            <button class="default" type="submit" name="opcion" value="buscar_cliente" tabindex="3" >Buscar cliente</button>
            <hr>
            <button class="default" type="submit" name="opcion" value="buscar_servicio" tabindex="4" >Buscar servicio</button>
          </form>
      </div>
    </div>
  </body>
</html>