<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agro Hawk Administrador Buscar Cliente</title>
    <link rel="stylesheet" href="./login_form_2.css" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
          <p>Buscar cliente</p>
        </div>
            <form method="post" action="/administrador/buscar_cliente">
            <input type="email" placeholder="Digite la cédula del cliente:" required />
            <hr>
            <button class="create-account" onclick="window.location.href='/administrador/buscar_cliente'">Consultar cliente</button>
            </form>
      </div>
    </div>
  </body>
</html>

