<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Administrador puede buscar servicio">
    <title>Agro Hawk - Administrador - Buscar servicio </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
          <p>Buscar servicio</p>
        </div>
            <form class="defi2" method="post" action="/administrador/buscar_servicio">
            <label for="text">Número de cédula del cliente:</label>
            <input type="text" name="cedula" placeholder="Debe utilizar el siguiente formato: 101110111" required tabindex="1" title="Debe ingresar un número de 9 dígitos" oninvalid="this.setCustomValidity('Por favor ingrese la cédula del cliente.')" oninput="this.setCustomValidity('')"/>
            <button class="default" onclick="window.location.href='/administrador/buscar_servicio'" tabindex="2" >Consultar servicio</button>
            <hr>
            <button class="regresar" onclick="window.location.href='/administrador'" tabindex="3" >Volver a la página principal</button>
            </form>
      </div>
    </div>
  </body>
</html>
