<!DOCTYPE html>
<html>
<head>
    <title>Crear Servicio</title>
    <!-- Aquí puedes incluir enlaces a hojas de estilo CSS si las tienes -->
</head>
<body>
    <h1>Crear Servicio</h1>
    
    <form method="post" action="/administrador/crear_servicio">
        <label for="cedula">Cédula del cliente:</label>
        <input type="text" id="cedula" name="cedula" required>
        <input type="submit" value="Buscar">
    </form>
    <form>
        <label for="nombre_servicio">Nombre del Servicio:</label>
        <input type="text" id="nombre_servicio" name="nombre_servicio" required>
        <input type="submit" value="Crear Servicio">
    </form>
</body>
</html>