<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Administrador puede registrar un cliente nuevo">
    <title>Agro Hawk - Adminsitrador - Información cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
          <p>Información cliente</p>
        </div>
        <form class="infor" method="post" action="/administrador/informacion_cliente">
            <label for="text">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ nombre }}" readonly>
            <label for="correo">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ apellido }}" readonly>
            <label for="text">Número de cédula:</label>
            <input type="text" id="cedula" name="cedula" value="{{ cedula }}" readonly>
            <label for="text">Número de celular:</label>
            <input type="text" id="telefono" name="telefono" value="{{ telefono }}" readonly>
            <label for="text">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" value="{{ correo }}" readonly>
            <label for="text">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value="{{ direccion }}" readonly>
            <hr>
            <button class="regresar" onclick="window.location.href='/administrador/buscar_cliente'" tabindex="8" >Volver a la página principal</button>
          </form>
      </div>
    </div>
  </body>
</html>

<!--<a href="{{ url_for('buscar_cliente') }}">Regresar</a> -->
