<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inicio de sesión en Agro Hawk">
    <title>Agro Hawk - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Agro Hawk</h1>
          <p>Confianza y tecnología para el agricultor</p>
        </div>
          <form method="POST" action="/login">
            <label for="correo">Correo electrónico:</label>
            <input type="email" name="correo" placeholder="nombre@agrohawk.com" required tabindex="1" />
            <label for="password">Contraseña:</label>
            <input type="password" name="password" placeholder="********" required tabindex="2" >
            <button type="submit" class="login" tabindex="3" >Iniciar sesión</button>
            <hr>
            <button class="create-account" onclick="window.location.href='/registro'" tabindex="4" >Crear cuenta nueva</button>
          </form>
      </div>
    </div>
  </body>
</html>
