<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Administrador puede registrar un cliente nuevo">
    <title>Agro Hawk - Adminsitrador - Registrar cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Administrador</h1>
          <p>Registrar cliente</p>
        </div>
        <form class="regis" method="POST" action="/administrador/registrar_cliente">
            <label for="text">Nombre:</label>
            <input type="text" placeholder="Andres" required tabindex="1" oninvalid="this.setCustomValidity('Por favor ingrese el nombre del cliente.')" oninput="this.setCustomValidity('')"/>
            <label for="correo">Apellido:</label>
            <input type="text" placeholder="Prado" required tabindex="2" oninvalid="this.setCustomValidity('Por favor ingrese el apellido del cliente.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Número de cédula:</label>
            <input type="text" placeholder="Debe utilizar el siguiente formato: 101110111" required tabindex="3" oninvalid="this.setCustomValidity('Por favor ingrese el número de cédula del cliente.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Número de celular:</label>
            <input type="text" placeholder="Debe utilizar el siguiente formato: 81234567" required tabindex="4" oninvalid="this.setCustomValidity('Por favor ingrese el número de celular del cliente.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Correo electrónico:</label>
            <input type="email" placeholder="andres.prado@gmail.com" required tabindex="5" oninvalid="this.setCustomValidity('Por favor ingrese el correo electrónico del cliente.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Dirección:</label>
            <input type="text" placeholder="Dirección aproximada" required tabindex="6" oninvalid="this.setCustomValidity('Por favor ingrese una dirección aproximada del cliente.')" oninput="this.setCustomValidity('')"/>
            <button class="default" onclick="window.location.href='/administrador'" tabindex="7" >Registrar cliente</button>
            <hr>
            <button class="regresar" onclick="window.location.href='/administrador'" tabindex="8" >Volver a la página principal</button>
          </form>
      </div>
    </div>
  </body>
</html>
