<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Se puede crear un usuario nuevo de Agro Hawk">
    <title>Agro Hawk - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Crear cuenta</h1>
        </div>
        <form class="registro">
            <label for="text">Nombre:</label>
            <input type="text" placeholder="Mell" required tabindex="1" oninvalid="this.setCustomValidity('Por favor ingrese su nombre.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Apellido:</label>
            <input type="text" placeholder="Brenes" required tabindex="2" oninvalid="this.setCustomValidity('Por favor ingrese su apellido.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Correo electrónico:</label>
            <input type="email" placeholder="nombre.apellido@agrohawk.com" required tabindex="3" oninvalid="this.setCustomValidity('Por favor ingrese el correo electrónico con el mismo formato.')" oninput="this.setCustomValidity('')"/>
            <label for="text">Contraseña:</label>
            <input type="password" placeholder="Debe ser de 8 caracteres con al menos un número." required tabindex="4" oninvalid="this.setCustomValidity('Por favor ingrese su contraseña.')" oninput="this.setCustomValidity('')"/>
            <label>Seleccione su rol:</label>
            <div class="roles">
                <input type="radio" name="role" id="administrador" required tabindex="5">
                <label for="administrador" >Administrador</label>
                <input type="radio" name="role" id="analista" required tabindex="6">
                <label for="analista" >Analista</label>
                <input type="radio" name="role" id="tecnico" required tabindex="7">
                <label for="tecnico" >Técnico</label>
            </div>
            <br>
            <button class="default" tabindex="8" >Registrarse</button>
            <hr>
            <button class="regresar" onclick="window.location.href='/'" tabindex="9" >Volver a la página principal</button>
          </form>
      </div>
    </div>
  </body>
</html>

