<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Página principal del técnico">
    <title>Agro Hawk - Técnico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Técnico</h1>
          <p>Página principal</p>
        </div>
          <form class="defi" method="post" action="/tecnico/consultar_servicio">
            <label for="text">Número de cédula del cliente:</label>
            <input type="text" placeholder="Debe utilizar el siguiente formato: 101110111" required tabindex="1" oninvalid="this.setCustomValidity('Por favor ingrese la cédula del cliente.')" oninput="this.setCustomValidity('')"/>
            <button class="default" onclick="window.location.href='/tecnico/crear_servicio'" tabindex="2" >Crear servicio</button>
            <hr>
            <button class="cerrar" onclick="window.location.href='/'" tabindex="3" >Cerrar sesión</button>
          </form>
      </div>
    </div>
  </body>
</html>

